/// Homepage Styles File
/// Here we import all the Styles files we need for our Homepage.
/// 

@import './card';
@import './link';
@import './button';
@import './pricing';
@import './loader';


#home-page{
    display: flex;
    justify-content: center;
    align-items: center;
}